<nav class="nav flex-column">
    <a class="nav-link" href="/rest">REST API</a>
    <a class="nav-link" href="/websocket">WebSocket</a>
</nav>

<style>
    .nav-link {
        font-size: 1.2em;
    }
</style>